.table {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  text-align: center;
}

td {
  border: 1px solid black;
  text-align: center;
}

.column-row {
  display: flex;
  width: 100%;
}

.table-layout {
  table-layout: auto;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.pagination-right {
  margin-left: auto;
}

.line-item:hover {
  background-color: grey;
  opacity: 0.5;
  cursor: pointer;
}